.my-page
  .my-page__top
  %h1.top-title
    = @user.name
    さんの成績
  .my-page__score            
    .score-new
      %h2.title 最近の結果
      .my-score
        - @newscore.each do |post|
          .scores__date
            = post.created_at.strftime("%m-%d %H:%M")
            .scores__point
              = post.score
              得点
    .score-best
      %h2.title 自己ベスト
      .my-score
        - @hiscore.each do |post|
          .scores__date
            = post.created_at.strftime("%m-%d %H:%M")
            .scores__point
              = post.score
              得点
  = link_to "戻る", root_path ,class:"btn"