=javascript_include_tag "main.js"
.header
  .left-content
    %h1.main-logo Typro
  - if user_signed_in?
    = link_to "LogOut", destroy_user_session_path, method: :delete,class:"logoutBtn"
  - else
    .right-content
      .right-content__wrapper
        = link_to "ログイン", new_user_session_path,class:"btn"
        = link_to "新規登録", new_user_registration_path, class: "btn"
      .defoult-message
        登録するとスコアが確認できます。
.main
  .main-image__messages
    %h2 タイピングでプログラミングを学ぼう！

    = link_to "Start!", new_post_path, data: {"turbolinks": false},class: "start-btn"
  - if user_signed_in?
    .dayScore
      .title#switch
        %p.rankScores#rank ランキング
        %p.myScores#score マイスコア
      - @posts.each do |post|
        .scores__date1
          = post.created_at.strftime("%m-%d %H:%M")
          .scores__point
            挑戦者:
            = post.user.name
            = post.score
            得点
      - @hiscore.each do |post|
        .scores__date2
          = post.created_at.strftime("%m-%d %H:%M")
          .scores__point
            挑戦者:
            = post.user.name
            = post.score
            得点

  


