 <div class = "main">
  <div class="type-space">

    <input id ="startbtn" type="button" value="START!" >
    <input type="button" value="RESET" onclick="window.location.reload();" />

    <p id = "target">Click on Start!</p>
    <p class="info">Letter count:<span id="score">0<span></p>
    <p class="info">Miss count:<span id="miss">0<span></p>
    <p class="info">Time left:<span id="timer">0.00<span></p>

    


    <p id= "result"></p>




    <input type="button" id="btn3" value="結果を登録する">
    <div class="v1">
    <div id="results">
    

    <%= form_for(@post) do |f| %>
    <%= f.number_field :title %><br>
    <%= f.number_field :content %><br>
    <%= f.submit value="送信する"%>
    <% end %>
    </div>

    </div><br>
  <%= link_to "戻る", root_path %>

  </div>

</div>








