.my-page
  = current_user.name
  %br/
  = @post.title
  = simple_format @post.score
  = link_to "編集",edit_post_path(@post.id)
  %br/
  = link_to "削除", post_path(@post.id), method: :delete
  %br/
  = link_to "トップページへ", root_path
